@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --main-color-accent: #6366F1;
  --primary-text-color: #1B2027;
  --secondary-text-color: #FFFFFF;
  --primary-bg-color: #F7F8FB;
  --secondary-bg-color: #FFFFFF;
  --primary-line-color: #D6DBE4;
  --secondary-line-color: #C0C8D3;
}

/* CSS Reset */
* {
  margin: 0;
  min-width: 0;
  font: inherit;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, video, svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* Temp */
.container {
  display: grid;
  place-content: center;
  min-height: calc(100dvh - 56px); /* viewport - navbar height*/
  width: 100%;
}

body {
  font-family: "lexend";
  background: var(--primary-bg-color);
}

header + div {
  min-height: calc(100dvh - 56px);
  display: flex;
}

main {
  width: 100%;
}

/* BEM */
.header {
  padding: 0 4px;
  display: flex;
  align-items: center;
  height: 56px;
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid var(--primary-line-color);
}
.header__logo {
  min-width: 28px;
  min-height: 28px;
  background-color: var(--main-color-accent);
  background-image: url("../img/amogus.png");
  background-size: 28px;
  border-radius: 6px;
  margin: 0 8px;
}
.header__logo:hover {
  background-color: #637bf1;
  background-image: url("../img/amogus-hover.png");
}
.header__logo:hover img {
  opacity: 0;
}
.header__separator {
  height: 12px;
  width: auto;
  margin-right: 8px;
}
.header__app-name {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1875rem;
  line-height: 1.25rem;
  margin-right: 8px;
  text-wrap: nowrap;
}
.header__app-name:hover {
  text-decoration: underline;
}

.navbar-container {
  min-width: 260px;
  min-height: calc(100dvh - 56px);
  background-color: var(--secondary-bg-color);
  border-right: 1px solid var(--primary-line-color);
}

.navbar {
  --item-background-color: #EEF1F6;
  --item-line-color: #D7D9DF;
  --item-text-color: #526075;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  padding: 8px;
}
.navbar__category {
  font-weight: 500;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  margin-left: 0.25rem;
}
.navbar__category:hover {
  cursor: default;
}
.navbar__item {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 300;
  color: var(--item-text-color);
  border: 1px solid transparent;
}
.navbar__item:hover {
  background-color: var(--item-background-color);
}
.navbar__item--selected {
  background-color: var(--item-background-color);
  border: 1px solid var(--item-line-color);
  color: var(--primary-text-color);
}
.navbar__icon {
  width: 40px;
  text-align: center;
}

/* Components */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 196px;
  height: 30px;
  border-radius: 2px;
  background: linear-gradient(to top, #5047E5, #6264F0);
  color: var(--secondary-text-color);
  border: none;
  border-top: rgba(255, 255, 255, 0.4) 1.5px solid;
  outline: #4338CA 1px solid;
  padding-bottom: 2.5px;
}
.button:hover {
  cursor: pointer;
}
.button--red {
  filter: hue-rotate(90deg);
}
.button--green {
  filter: hue-rotate(270deg);
}/*# sourceMappingURL=base.css.map */