<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apprende Custom Search</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  {% block head %}{% endblock %}
</head>

<body>
  <header class="header">
    <a href="#" class="header__logo"></a>
    <svg class="header__separator" width="1rem" height="1rem" fill="currentColor" viewBox="0 0 256 256">
      <path d="M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z"></path>
    </svg>
    <a href="#" class="header__app-name">
      apprende-custom-search
    </a>
    <!-- <svg class="header__separator" width="1rem" height="1rem" fill="currentColor" viewBox="0 0 256 256">
      <path d="M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z"></path>
    </svg> -->
  </header>
  {% block content %}{% endblock %}
</body>

{% block script %}{% endblock %}

</html>