<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apprende Custom Search</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  {% block head %}{% endblock %}
</head>

<body>
  <header class="header">
    <a href="#" class="header__logo"></a>
    <svg class="header__separator" width="1rem" height="1rem" fill="currentColor" viewBox="0 0 256 256">
      <path d="M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z"></path>
    </svg>
    <a href="#" class="header__app-name">
      apprende-custom-search
    </a>
    <!-- <svg class="header__separator" width="1rem" height="1rem" fill="currentColor" viewBox="0 0 256 256">
      <path d="M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z"></path>
    </svg> -->
  </header>
  <div>
    {% block navbar %}
    <aside class="navbar-container">
      <nav class="navbar">
        <h2 class="navbar__category">General</h2>
        {% block talleristas %}<a href="{{ url_for('views.talleristas') }}" class="navbar__item">{% endblock %}
          <div class="navbar__icon">👨‍🎨</div>
          Talleristas
        </a>
        {% block insumos %}<a href="{{ url_for('views.insumos') }}" class="navbar__item">{% endblock %}
          <div class="navbar__icon">🛒</div>
          Insumos
        </a>
        {% block marcadores %}<a href="{{ url_for('views.marcadores') }}" class="navbar__item">{% endblock %}
          <div class="navbar__icon">⭐</div>
          Marcadores
        </a>
        <h2 class="navbar__category">Ejemplo</h2>
        {% block ejemplo %}<a href="{{ url_for('views.ejemplo') }}" class="navbar__item">{% endblock %}
          <div class="navbar__icon">💢</div>
          Ejemplo
        </a>
      </nav>
    </aside>
    {% endblock %}
    <main>  
      {% block content %}{% endblock %}
    </main>
  </div>
</body>

<script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% block script %}{% endblock %}

</html>