{% extends "base.html" %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
{% endblock %}


{% block content %}
{% block navbar %}{% endblock %}
<div class="container">
  <div class="box">
    <h1>404</h1>
    <h2>El contenido al cual intentas acceder no existe</h2>
    <a href="{{ url_for('views.talleristas') }}" class="button">
      <svg width="1rem" height="1rem" fill="white" viewBox="0 0 200 200">
        <path d="M160,89.75H56l53-53a9.67,9.67,0,0,0,0-14,9.67,9.67,0,0,0-14,0l-56,56a30.18,30.18,0,0,0-8.5,18.5c0,1-.5,1.5-.5,2.5a6.34,6.34,0,0,0,.5,3,31.47,31.47,0,0,0,8.5,18.5l56,56a9.9,9.9,0,0,0,14-14l-52.5-53.5H160a10,10,0,0,0,0-20Z"/>
      </svg>
      Volver al inicio
    </a>
  </div>
</div>
{% endblock %}
